<section class="home home1">
  <div class="title-container">
    <h1>Test Compare Delight</h1>
    <h3>The place to enjoy your coffee</h3>
  </div>

</section>
<section class="home home2">
  <div class="home-search">
      <%= form_tag search_results_path, method: 'get' do %>
      <%= text_field_tag :search_keywords, nil, placeholder: "enter keyword", :class => 'home-search-input', :style => 'padding-left: 5vh;' %>
      <%= submit_tag "SEARCH", :class => 'home-search-button'%>
      <% end %>
  </div>
</section>
<section class="home home3 latest-home">
      <div class="row">
          <div class="col-xs-12">
              <h1>Latest Products</h1>
          </div>
          <% latest_products.each do |lp| %>
          <a href="<%= product_path(lp.id) %>">
              <div class="col-xs-12 col-md-4 coffee-index coffe-wrap">
                  <figure>
                      <%= image_tag('cafe.jpg', :class => 'product-img img-responsive') %>
                  </figure>

                  <h3><%= lp.name %></h3>
                  <p><%= lp.brand %></p>
              </div>
          </a>
          <% end %>
      </div>
  <% latest_products.each do |lp| %>
    <div><%=lp.name %></div>
  <% end %>
</section>
