<header id="mainnav" class="navbar navbar-default mainnav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 main-header">
        <div class="col-xs-12 col-sm-4 logo logo-img">
          <h1><%= link_to 'Café', root_path %></h1>
        </div> <!-- end logo -->
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-offset-2 login">
            <% if @current_user.present? %>
            <ul>
              <li><%= link_to "#{ @current_user.name }'s Profile ", edit_user_path(@current_user) %></li>
              <li><%= link_to "Logout", login_path, :method => :delete %></li>
            </ul>
            <% else %>
              <%= form_tag '/login' do %>
                <%=  text_field :email, nil, placeholder: 'email', :required => true %>
                <%= password_field_tag :password , nil, placeholder: 'password', :required => true %>
                <%= submit_tag 'login' %>
              <% end %>
            <% end %>
          </div><!-- end login -->
          <nav class="col-xs-12 col-sm-6">
            <ul class="nav navbar-nav">
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to "Products", products_path %></li>
              <% if @current_user.present? %>
                <li><%= link_to "New Product", new_product_path %></li>
              <% else %>
                <li><%= link_to 'Sign up', new_user_path %></li>
              <% end %>
            </ul>
          </nav><!-- end nav -->
        </div><!-- end row -->
      </div><!-- end main-header -->
    </div> <!-- end row -->
  </div>   <!-- end container -->
</header>
